@font-face {
    font-family: "oswald-regular";
    src: url(fonts/oswald/Oswald-VariableFont_wght.ttf);
}

@font-face {
    font-family: "orbitron-regular-400";
    src: url(fonts/orbitron/Orbitron-VariableFont_wght.ttf);
}

@font-face {
    font-family: "gruppo-regular";
    src: url(fonts/gruppo/Gruppo-Regular.ttf);
}

@font-face {
    font-family: "assistant-regular";
    src: url(fonts/assistant/Assistant-VariableFont_wght.ttf);
}