$primary-color-1: #3E065F;
$secondary-color-1: #700B97;
$tertiary-color-1: #8E05C2;
$accent-color-1: aliceblue;

$primary-color-2: #302F31;
$secondary-color-2: #4A4A4A;
$tertiary-color-2: #9893DA;
$accent-color-2: #BBBDF6;

$text-color-1: aliceblue;